
body {
    height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0 !important;
    padding-top: 80px !important;
    /* background-image: linear-gradient(#15044F, #1F0088); */
    background-repeat: no-repeat;
    color: sienna;
}

h1 {
    font-size: 45px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #A15959;
}
h2 {
    font-size: 30px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #A15959;
}
h3 {
    font-size: 22px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #A15959;
}
h4 {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #A15959;
}
p {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #A15959;
}
a {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #bd426b;
    text-decoration: none;
}
a:hover {
    color: #92140C;
    transition: 400ms;
}
ul {
    margin: 15px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
}
li {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #684A52; 
    margin: 2px;
    text-align: left;
}
.btn-primary {
    background-color: peachpuff;
    border: 0px;
    border-radius: 20px;
    margin: 20px;
    padding: 5px 12px 5px 12px;
    width: max-content;
}
.btn-primary:hover {
    background-color: #FDF7F5;
    transform: scale(1.05);
    transition: 500ms;
}

nav {
    height: 80px;
    background: #FFF8F5;
}
.navbar {
    margin: 0;
    width: 100%;
    height: 80px;
}
.navbar .container {
    background: #FFF8F5;
    width: 100%;
}
.navbar-brand {
    font-family: 'Parisienne', cursive;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
    color: sienna !important;
    opacity: 90%;
    padding-left: 50px;
}

/* .navbar-nav {
    padding: 5px;
    background-color: #ebe7dc;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
} */

.nav-link {
    color:  #985E4C !important;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 700;
    padding: 20px 30px 20px 30px;
    margin: 10px;
}
.nav-link:hover {
    color: #fff !important;
    background-color: #CEABB1;
    border-radius: 30px;
    opacity: 90%;
    font-size: 18px;
    font-weight: 800;
    transition: 0.3s;
}

.nav-link .active {
    background-color: sienna;
    color: rgb(255, 243, 226);
    border-radius: 2rem;
    fill-opacity: 50%;
}
.nav-item .dropdown {
    background-color: #fff9ea;
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center !important;
    align-items: center;
}
.navbar-toggler {
    color: sienna !important;
    opacity: 90%;
    border-radius: 20px;
}

main {
    width: 100% !important;
    max-width: 100% !important;
    height: 100vh !important;
    background-color: #f8edeb;
    margin: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

main h1 {
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-align: center;
}
main p {
    font-size: 20px;
    font-family: 'Monstserrat', sans-serif;
    text-transform: uppercase;
}


#feature-work {
    background-color: slateblue;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 100px;
    display: grid;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 100% !important;
    min-height: 100%;
}
#feature-work h2 {
    color: peachpuff;
    text-align: center;
}
#feature-work .card {
    height: 400px;
    margin: 50px;
    margin-top: 0px;
    padding: 10px;
    border-radius: 10px;
    background-color: snow;
}
#feature-work .card:hover {
    transform: scale(1.1);
    transition: 500ms;
}
#feature-work .btn-primary {
    background-color: snow;
    border-radius: 20px;
    margin: 20px 10px 20px 10px;
    padding: 5px 12px 5px 12px;
    align-items: center;
    justify-content: center;
    display: flex;
}
#feature-work .btn-primary:hover {
    background-color: rgb(226, 226, 226);
}
#feature-work a {
    font-size: 15px;
    font-weight: 600;
    color: slategray;
    text-decoration: none;
    text-align: center;
}
#feature-work a:hover {
    font-weight: 800;
    color: black;
}
#feature-work .card .card-title {
    font-size: 22px;
    font-weight: 900;
    line-height: 20px;
    padding: 10px 5px 10px 5px;
}
#shopee-card-title {
    color: #f06306;
}
#corpus-card-title {
    color: #356ba0;
}
.card .card-text {
    color: dimgray;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    padding: 10px;
}

footer {
    background-color: #f8edeb;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 50px;

    font-size: 25px;
    font-weight: 600;

    width: 100%;
    min-width: 100% !important;
    min-height: 200px !important;
    height: 300px !important;
}

footer .btn-primary {
    padding: 5px 15px 5px 15px;
}



/* ABOUT */

#about-body {
background-color: darkslateblue;
}

#about-me {
    border: peachpuff 6px solid;
    background-color: #FFF8F5;
    display: grid;
    width: 700px;
    max-width: 80%;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    margin-top: 50px;
}

#display-picture {
    max-width: 70%;
    width: 200px;
    height: auto;
    border-radius: 50px;
    margin: auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}
#about-text {
    color: sienna;
    font-family: 'Roboto';
    padding: 30px;
}

#education {
    width: 80%;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#education-main-text {
    padding: 35px;
    background-color:snow;
    max-width: 100%;
}
#education-main-text h2 {
    padding: 5px;
    text-indent: -1rem;
}
#education-main-text h3 {
    font-family: 'Quicksand';
    font-size: 22px;
    font-weight: 600;
    padding: 5px;
}
#education-main-text p {
    font-size: 16px;
}
.module-col {
    width: 250;
    min-width: 200px;
    background-color: snow;
    margin: 8px;
    padding: 35px;
    border-radius: 15px;
}




/* ART */

/* .container {
    position: relative;
    width: 1280px;
    max-width: 100%;
    min-height: 500px;
    margin: 70px auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.container .box {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    transition: 1s;

    /* background: rgb(217, 226, 255); */
   /* margin: 10px;
    box-sizing: border-box;
    display: inline-block;
}
.container .box:hover {
    z-index: 1;
    transform: scale(1.25);
    box-shadow: 0 25px 40px rgb(0, 0, 0, 0.4);
    border-radius: 25px;
}

.container .box .imgBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}
.container .box .imgBox img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    transition: transform 0.5s;
}
.container .box:hover .imgBox img {
    transform: scale(1.5);
}

.container .box .imgDetailsBox {
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;

    background: rgb(21, 5, 78,0.5);
    transform: scaleY(0);
    transition: transform 0.3s;
}

.container .box:hover .imgDetailsBox {
    transform: scaleY(1);
}
.container .box .imgDetailsBox .imgDetails {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
    margin: 20px;
    padding: 20px;
    color: rgb(255, 208, 251);
    line-height: 180%;
}
.container .box .imgDetailsBox .imgDetails h2 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 700;
    color:rgb(255, 246, 122);
}
.container .box .imgDetailsBox .imgDetails p {
    margin: 5px 0 0;
    padding: 0;
    font-size: 12px;
    color: seashell;
}

.container .box .imgDetailsBox .imgDetails a {
    margin: 5px 0 0;
    padding: 0;
    font-size: 10px;
    color: seashell;
} */