
body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(#15044F, #1F0088);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

}

#display_pic {
    padding-top: 100px;
}


*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.header {
    height: 70px;
    background: #140449;
    border-bottom: rgb(97, 113, 168) 1px solid;
    box-shadow: 0 4px 2px -3px rgba(209, 169, 255, 0.7);
    padding: 8px 30px 8px 50px;
    color: azure;
}
.logo {
    float: left;
    text-transform: uppercase;
    color:rgb(255, 208, 251);
    margin: 15px;
}
.menu{
    float: right;
 
}
.menu a {
    color: rgb(217, 226, 255);
    text-decoration: none;

    font-weight: 600;
    padding: 8px;
    margin: 10px;

    display: inline-block;
    justify-content: center;
    align-items: center;
}
.show-menu-btn, .hide-menu-btn {
    transition: 0.4s;
    font-size: 26px;
    cursor: pointer;
    display: none;
}
.show-menu-btn {
    float: right;
}
.show-menu-btn i {
    /* line-height: 100px; */
    padding: 20px;
}
.menu a:hover {
    font-weight: 600;
    border-bottom: rgb(205, 217, 255) 3.5px solid;
    font-size: 18px;
}

.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover {
    color: rgb(255, 208, 251);
} 

#checkBox {
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}

/* @media after all content styling on page */
@media screen and (max-width:768px) {
    .show-menu-btn,.hide-menu-btn {
        display: block;
    }
    .menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(39, 0, 75);
        right: -100%;
        top: 0;
        text-align: center;
        justify-content: center;
        padding: 100px 0;
        line-height: normal;
        transition: 0.4s;
    }
    .menu a {
        display: block;
        padding: 20px;
    }
    .hide-menu-btn {
        position: absolute;
        top: 28px;
        right: 28px;
    }
    #checkBox:checked ~ .menu {
        right: 0;
    }
}


/* HOME */

.landing {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3%;
}

.landingText {
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: rgb(255, 203, 255);

    align-items: center;
    justify-content: center;
    margin: 8%;
}

#displayPic {
    width: 400px;
    height: 350px;
    border-radius: 50%;
    margin: 20px;

}

#featureWork {
    min-height: 100%;
    background-color: rgba(209, 169, 255, 0.7);
    padding: 3%;

    font-family: Impact, 'Arial Bold', sans-serif;
    color: seashell;
    font-size: 18px;
    font-weight: bold;
    line-height: 15px;

    justify-content: center;
}

#featureText {
    font-size: 30px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#feature1,#feature2,#feature3 {
    width: 350px;
    height: 520px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 1px 1px 5px rgb(0, 0, 0, 0.4);
    padding: 2%;
    margin: 2%;
    display: flex;
    border-radius: 30px;
}

.featureContainer {
    display: flex;
    justify-content: space-around;
    padding: 2%;
}

#feature1 {
    background-color: rgb(217, 226, 255);
}
#feature2 {
    background-color: rgb(217, 226, 255);
}
#feature3 {
    background-color: rgb(217, 226, 255);
}



.callToAction {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: rgb(255, 203, 255);
    font-size: 25px;
    font-weight: 600;
}

#whatNext {
    font-size: 30px;
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.homepageBtn {
    background-color: #ffdff5; 
    border: none;
    color: rgb(21, 5, 78);
    padding: 10px 20px;
    margin: 20px;
    border-radius: 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: 500px;
  }
  .homepageBtn:hover {
    font-weight: 600;
    cursor: pointer;
}





/* ABOUT */

#aboutBody {
    background-image: url(images/forestNight.png);
    background-size: cover;
}
h1 {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.aboutJeanette {
    text-align: center;
    color: rgb(217, 226, 255);
    font-family: 'Roboto', sans-serif;
    /* height: 90vh; */
    margin: 15%;
    align-items: center;
    justify-content: center;
    /* background-image: url(https://images.unsplash.com/photo-1611361513918-eee28c9d96a4?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NXx8YWVzdGhldGljJTIwYmFja2dyb3VuZHxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60); */
    /* background-image: url(images/forestNight.png);
    background-size: auto; */
}
#myPicture {
	max-width: 50%;
  	width: 200px;
  	height: auto;
  	border-radius: 50%;
  	margin: auto;
    padding: 10px;
    align-items: center;
}

#educationSection {
    margin: 50px;
    height: 90vh;
}
#educationMainText {
    padding: 50px 40px 20px 16%;
    font-size: 14px;
    color: rgb(205, 217, 255);
}
.educationHeader {
    text-align: center;
    color: rebeccapurple;
    font-size: 18px;
    font-weight: 700;
    margin: 10px;
    text-transform: uppercase;
}
.educationSubHeader {
    text-align: center;
    color: rgb(118, 110, 165);
    font-size: 14px;
    font-weight: 600;
    margin: 5px 0px 15px 0px;
    text-transform: uppercase;
}
.modules {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    margin: 20px 14% 20px 14%;
}
.moduleColumn {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 5% 15% 5% 15%;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 20px;
}
.moduleList {
    justify-items: center;
    align-items: center;
    font-size: 13px;
    padding: 2% 10% 2% 10%;
    margin: 0px 0px 10px 15px;
    font-weight: 500;
}



/* ART */

#artBody {
    background-image: url(images/forestNight.png);
    background-size: cover;
}

.imageGallery {
    margin: 3% 10% 5% 10%;


    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
    
}
div.gallery {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 5px;

  -ms-flex: 25%; /* IE10 */
  flex: 25%;

  padding: 0 4px;
}

div.gallery:hover {
  border: 3px solid rgb(148, 144, 177);
}

div.gallery img {
  width: 100%;
  height: auto;
  margin-top: 8px;
  vertical-align: middle;
\\
}

div.desc {
  padding: 15px;
  margin: 10px;
  text-align: center;
  font-size: 14px;
  color: #777;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;

}

@media only screen and (max-width: 768px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
